.CardStyle {
  width: 100%;
  max-width: 360px;
  margin-top: 50px;
  margin-left: 50px;
}
.subheading{
  text-align: start;
  font-size: 1.5rem;
}

.bold-secondary-text {
    font-weight: bold;
  }

.Btn {
    margin-left: 50px;
}
  



  

  
  
