.chart-container {
    border: 1px solid black;
    border-radius: 3px;
    align-self: flex-start;
}

.chart-container-empty {
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
}

.comparison-form {
    /* border: 1px solid black;
    border-radius: 3px; */
    margin: 1em 2em 0em 0em;
    width: 14em;
}