.chart-container {
    border: 1px solid black;
    border-radius: 3px;
    align-self: flex-start;
}

.chart-container-empty {
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    width: 545px;
    height: 273px;
}

.comparison-container {
    display: flex;
}

.comparison-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}