/* REUSEABLE */
.img-{
  margin-top: 5rem;
  width: 50%;
}
.img-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ********** */
/* Alumni Section */
/* ********** */
.main-heading{
  font-size: 1.8rem;
  text-align: center;
  color: #228be6;
}
.notes-input{
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
.error-text{
  color: #ff0000;
}
.form-section{
  padding: 1rem 3rem;
}
