/* REUSEABLE */
.img{
  width: 100%;
}
.img-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-heading{
  font-size: 1.8rem;
  text-align: center;
  color: #228be6;
}
/* SECTION */
.form-section{
  padding: 1rem 3rem;
}
.main-section{
  
}