body {
    /* background-image: */
    /* url('https://images.unsplash.com/photo-1494887205043-c5f291293cf6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTh8fHNhbGFyeSUyMG5lZ290aWF0aW9ufGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.link:hover{
    text-decoration: none;
}
/* ********* */
/* Home */
/* ********* */
.home-section{
    padding: 2rem 4rem;
}
video{
    width: 40vw;
    height: 100%;
}
.img{
    width: 100%;
}
/* ********* */
/* Circles */
/* ********* */
.circle {
    background: black;
    width: 250px; 
    height: 250px;
    border-radius: 50%;
    display: flex; /* or inline-flex */
    align-items: center; 
    justify-content: center;
}

.circle {
    transition: color 0.5s ease-in-out, box-shadow 1s ease-in-out;
}
.circle:hover {
    transform: scale(1.1);
}
.circle-1{
    background-color: #c92a2a;
}
.circle-2{
    background-color: #4263eb;
}
.circle-3{
    background-color: #0ca678;
}

/* Responsive */
@media screen and (max-width: 768px) {
   
  }